<!DOCTYPE HTML>
<html>
<head>
  <title>Blog EMS</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <p>Get your greeting <a href="/greeting">here</a></p>
    <!-- Cabecera -->
    <header>
      
      <h1>Este es mi Blog </h1>
    </header>
  
    <!-- Contenido -->
    <section>
                    <b>Libros</b>
        <p>(Contenido)</p>
            </section>
    <section>
                    <b>Películas</b>
        <h2>Últimas críticas</h2>
			<ul>
				<li>
					<h3>La noche del 12</h3>
					<p>En la policía judicial, todos los investigadores se topan tarde o temprano con un crimen que son incapaces de resolver y que se vuelve una obsesión. Para Yohan se trata del asesinato de Clara. Los interrogatorios se suceden y no faltan sospechosos, pero las dudas de Yohan no dejan de crecer. Solo hay una certeza: el crimen se cometió en la noche del 12. </p>
					<a href="https://www.filmaffinity.com/es/film723079.html">Leer más</a>
				</li>
				<li>
					<h3>Vivarium</h3>
					<p>Gemma (Imogen Poots) y Tom (Jesse Eisenberg) son una joven pareja que se ha planteado la compra de su primera casa. Para ello visitan una inmobiliaria donde los recibe un extraño agente de ventas, que les acompaña a Yonder (una nueva, misteriosa y peculiar urbanización donde todas las casas son idénticas), para mostrarles una vivienda unifamiliar para ellos.</p>
					<a href="https://www.filmaffinity.com/es/film621762.html">Leer más</a>
				</li>
				<li>
					<h3>Creed III</h3>
					<p>Después de dominar el mundo del boxeo, Adonis Creed ha progresado tanto en su carrera como en su vida familiar. Cuando Damian (Jonathan Majors), un amigo de la infancia y antiguo prodigio del boxeo, reaparece después de cumplir una larga condena en prisión, Adonis Creed quiere demostrar que merece una oportunidad en el ring. El enfrentamiento entre estos antiguos amigos es algo más que una simple pelea. Para ajustar cuentas, Adonis debe arriesgar su futuro para enfrentarse a Damian, un boxeador que no tiene nada que perder. Tercera entrega de la revitalizada franquicia 'Rocky' para MGM, en la que Jordan retoma su papel de "Adonis Creed".</p>
					<a href="https://www.filmaffinity.com/es/film826818.html">Leer más</a>
				</li>
			</ul>
		</section>
            </section>

     <!-- Pie de pagina -->
    <footer>
            (c) Aspectos Juridicos
    </footer>
</body>
</html>
